.about-us{
	&__deliveryman-con{
		width: 100%;
		height: 100%;
	}
	&__deliveryman{
		display: block;
		width: 100%;
		object-fit: cover;
		min-height: 100%;
		overflow-x: hidden;
	}
	&__sign{
		display: block;
	}

}