.form{
	color: $black;
	&__form{
		/*margin-bottom: -12px;*/
	}
	&__group{
		margin-bottom: 12px;
		label, input, select{
			display: block;
			width: 100%;
		}
		input, select{
			height: 38px;
		}

		label{
			margin-bottom: 5px;
			text-transform: uppercase;
		}
	}

	&__input-grow{
		transform: scaleX(0);
		opacity: 0.5;
		transform-origin: 0;
		transition: all .6s ease-out;
	}

	&__newsletter{
		div{
			width: 100%;
		}
		div, input{
			background: rgba($white, 0.3);
			color: $white;
		}
		input, .fa-paper-plane{
			display: inline-block;
		}
		input{
			width: 80%;
		}
		.fa-paper-plane{
			margin-left: 13px;
			color: $secondary;
			cursor: pointer;
		}
	}
}