.hero{
	position: relative;
	height: 130vh; 
	width: 100vw;
	overflow-x: hidden;
	@mixin atSmall{
		height: 100vh; 
	}

	&__bg-image{
		transform: scaleX(-1);
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__content{
		color: $white;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	&__site-title{
		font-size: 20px;
		line-height: 1;
		padding: 0;
		@mixin atTiny{
			font-size: 22px;
			line-height: 1;
		}
		@mixin atXSmall{
			font-size: 26px;
			line-height: 1;
		}
		@mixin atSmall{
			font-size: 40px;
		}
		@mixin atLarge{
			font-size: 56px;
		}
	}

	&__site-description{
		font-size: 16px;
		line-height: 1.3;
		padding: 0;
		font-weight: 100;
		@mixin atTiny{
			font-size: 16px;
		}
		@mixin atSmall{
			font-size: 24px;
		}
		@mixin atLarge{
			font-size: 34px
		}
	}
	&__left-btn{
		max-width: 300px;
		margin-top: -10px;
	}
	&__form{
		width: 100%;
		border-radius: 10px;
		background: rgba($bgcolor, 0.7);
		padding: 10px 20px 20px;
	}

	&__form-header{
		color: $black;
		margin-bottom: 10px;
		& > p{
			font-weight: 300;
		}
	}

	&__form-btn{
		margin-top: 22px;
	}

	&__sure{
		position: relative;
		overflow: hidden;
		height: 60px;
		margin-top: 15px;
		p{
			font-size: 36px;
			font-weight: 500;
		}
		.hero__Aff, .hero__Rel, .hero__Acc{
			position: absolute;
			top: -45%;
			transform: translateX(-100%);
			transition: transform ease-out .5s;
		}
		.hero__Aff{
			color: $primary;
		}
		.hero__Rel{
			color: $secondary;
		}
		.hero__Acc{
			color: $white;
		}
	}

	&__Aff--show{
		.hero__Aff{
			transform: translateX(0%);
			}
		}
		&__Rel--show{
		.hero__Rel{
			transform: translateX(0%);
			}
		}
		&__Acc--show{
		.hero__Acc{
			transform: translateX(0%);
			}
		}

}