.hero{
	width: 100%;
	height: 100%;
	position: absolute;
	&__bg-image{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
	}

	&__content{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		color: $fontwhite;
	}

	&__site-title{
		font-size: 56px;
	}

	&__site-description{
		font-size: 36px;
		line-height: 1.5;
		font-weight: 300;
		background: rgba(#primarycolor, 1);
	}
}