.hero{
	width: 100%;
	height: 100vh;
	position: absolute;
	&__bg-image{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		object-fit: cover;
	}

	&__content{
		color: $fontwhite;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		/*background: blue;*/
		/*padding: 50px;*/
	}

	&__site-title{
		font-size: 56px;
	}

	&__site-description{
		font-size: 36px;
		line-height: 1.5;
		font-weight: 300;
		padding: 0;
	}

	&__form{
		width: 100%;
		border-radius: 10px;
		background: rgba($tst, 0.7);
		padding: 20px 30px;
	}
}