.primary-nav{
	ul{
		display: flex;
		margin-right: -18px;
	}

	li{
		list-style-type: none;
		@mixin atMedium{
			padding-right: 18px;
		}
		&:hover{
			div{
				transform: scale(1);
			}
		}	
	}

	&--dasboard{
	}
}