.row{
	display: block;
	&--wrapper{
		@mixin wrapper;
	}
	@mixin atSmall{
		display: grid;
		grid-template-columns: repeat(12, auto);
		&--gutter{
			grid-column-gap: 5vw;
		}
		&__col-sm-6{
			grid-column: span 6;
		}
		&__col-sm-4{
			grid-column: span 4;			
		}
	}

}

