.row{
	display: block;
	&--wrapper{
		padding: 0 5vw;
	}
	@mixin atSmall{
		display: grid;
		grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
		&--gutter{
			grid-column-gap: 5vw;
		}
		&__col-sm-6{
			grid-column: span 6;
		}
		&__col-sm-4{
			grid-column: span 4;			
		}
	}

}

