.sec{
	&--sec-m-b{
		margin-bottom: 16px;
	}
	&--sec-m-t{
		margin-top: 90px;
	}
	&--sec-p-t-b{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	&--blo-m-t{
		margin-top: 10px;
	}
	&--blo-m-b{
		margin-bottom: 25px;
	}
	&--blo-p{
		padding: 10px;
	}
}