.section-title{
	font-weight: 700;
	font-size: 28px;
	line-height: 1.3;
	color: rgba($black, 0.75);
	padding: 0;
	margin: 0 0 18px;
	word-spacing: 1px;
	text-transform: uppercase;

	&--light{
		color: rgba($white, 1);
	}
	
	&--center{
		text-align: center;
	}
}