.site-header{
    position: fixed;
    top: 0;
	z-index: 2;
	width: 100%;
	padding: 28px 0;
	width: 100vw;
	
	&--transparent{
			background: $primarycolor;
		@mixin atMedium{
			
		}
		
	}

	&--blue{
		background: $primarycolor;
	}

	&--light-blue{
		border-bottom: 2px solid $fontwhite;
		background: $tetiarycolor;
		height: 10%;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 2;
	}

	&__logo{
		position: absolute;

	}

	&__logo-image{
		width: 106px;
		height: 40px;
		@mixin atSmall{
			width: 200px;
			height: 75px;
		}
	}

	img{
		display: block;
	}

	&__menu-icon{
		width: 20px;
		height: 19px;
		position: absolute;
		right: 10px;

		&::before{
			content:"";
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background: $fontwhite;
			transform-origin: 0 0;
			transition: transform .3s ease-out;
		}

		&__middle{
			position: absolute;
			top: 8px;
			left:0;
			width: 20px;
			height: 3px;
			background: $fontwhite;
			transition: all .3s ease-out;
			transform-origin: 0 50%;
		}

		&::after{
			content:"";
			position: absolute;
			bottom: 0;
			left:0;
			width: 20px;
			height: 3px;
			background: $fontwhite;
			transform-origin: 0 100%;
			transition: transform .3s ease-out;
		}



		@mixin atMedium{
			display: none;
		}
	}

	&__menu-icon--close-x{
		&::before{
			transform: rotate(45deg) scaleX(1.25);
		}

		.site-header__menu-icon__middle{
			opacity: 0;
			transform: scaleX(0);
		}

		&::after{
			transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}
	}

	&__menu-content{
		display: none;
		opacity: 0;
		position: absolute;
		top: -100px;
		transition: all .3s ease-out;
		padding-top: 30px;
		padding-left: 20px;
		
	

		@mixin atMedium{
			opacity: 1;
			display: block;
			position: relative;
			top: 0;
			padding-top: 0;
			padding-left: 0px;
			padding-bottom: 0px;
	
		}

		&--visible{
			z-index: 10;
			display: block;
			opacity: 1;
			position: relative;
			top: 5px;
		}
	}
}