.site-header{
	z-index: 2;
	width: 100vw;
	position: fixed;
	padding: 8px 0;
	transition: all 1s ease-out;


	&__wrapper{
		@mixin wrapper;
		/*border-bottom: 1px solid cyan;*/
		display: flex;
  		justify-content: space-between;
	}
	

	&__logo{
		display: flex;
 		flex-direction: column;
  		justify-content: center;
	}

	&__logo-image{
		width: 100px;
		height: 40px;
		display: block;
	}
	&__menu-icon{
		width: 20px;
		height: 19px;
		position: relative;
		margin: auto 0;

		&::before{
			content:"";
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 3px;
			transform-origin: 0 0;
			transition: transform .3s ease-out;
			background: $white;
		}

		&__middle{
			position: absolute;
			top: 8px;
			left:0;
			width: 20px;
			height: 3px;
			transition: all .3s ease-out;
			transform-origin: 0 50%;
			background: $white;
		}

		&::after{
			content:"";
			position: absolute;
			bottom: 0;
			left:0;
			width: 20px;
			height: 3px;
			/*background: $fontwhite;*/
			transform-origin: 0 100%;
			transition: transform .3s ease-out;
			background: $white;
		}

		@mixin atMedium{
			display: none;
		}
	}

	&__menu-icon--close-x{
		&::before{
			transform: rotate(45deg) scaleX(1.25);
		}

		.site-header__menu-icon__middle{
			opacity: 0;
			transform: scaleX(0);
		}

		&::after{
			transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}
	}

	&__menu-content{
		display: none;
		@mixin atMedium{
			display: flex;
  			flex-direction: column;
  			justify-content: center;
			position: relative;
		}

		&--visible{
			z-index: 10;
			display: block;
			opacity: 1;
			position: relative;
			top: 5px;
		}
	}

	&__link-hover{
		width: 100%; 
		height:2px; 
		background: $primary;
		transform: scale(0);
		transition: all .3s ease-out;
	}

	&--addbg{
		background: rgba($black, 1);
		box-shadow: 3px 6px 10px 2px rgba($black, 0.2);
	}
}