.why-choose{
	&__image{
		width: 100%;
		overflow-y: hidden;
		overflow-x: hidden;
		img{
			display: block;
			max-width: 100%;
			height: auto;
			cursor: pointer;
			&:hover{
				transform: scale(1.4);
				transition: transform 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
			}
		}
	}
	&__title{
		margin-top: 10px;
		font-size: 19px;
	}
}